.header {
    font-family: "Verdana" , serif;
    color: black;
    margin-left: 20%;
    margin-top: 15px;
    text-align: center;
    width: 60%;
    border: 1px solid ;
    border: #DCDCDC;
    border-radius: 10px;
    background: rgba(255, 255, 230, 0.3);
}

#fieldToShow{
    height: auto;
}

.button {
    margin-bottom: 20px;
    width: 10%;
    height: 30px;
    color: white;
    border-width: 2px 0;
    border-style: solid none;
    border-color: orangered;
    border-radius: 6px;
    background: orangered;
    transition: 0.2s;

}
.button:hover {
    background: red;
    border-color: red;
}

body{
    font-family: "Verdana" , serif;
    text-align: center;
    margin: 0;
    height: 100%;
    background: url("../img/36156929-funny-cat-wallpaper.jpg")  no-repeat center center fixed;
    background-size: cover;
}

.input-range__slider {
    appearance: none;
    background: #33cc33;
    border: 1px solid #33cc33;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.65rem;
    outline: none;
    position: absolute;
    top: 50%;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    width: 1rem; }

.input-range__slider:active {
    transform: scale(1.3); }

.input-range__slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }

.input-range--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    transform: none; }

.input-range__slider-container {
    transition: left 0.3s ease-out; }

.input-range__label {
    color: darkslategray;
    font-size: 0.8rem;
    transform: translateZ(0);
    white-space: nowrap; }

.input-range__label--min,
.input-range__label--max {
    bottom: -1.4rem;
    position: absolute; }

.input-range__label--min {
    left: 0; }

.input-range__label--max {
    right: 0; }

.input-range__label--value {
    position: absolute;
    top: -1.8rem; }

.input-range__label-container {
    left: -50%;
    position: relative; }
.input-range__label--max .input-range__label-container {
    left: 50%; }

.input-range__track {
    background: #eeeeee;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
    transition: left 0.3s ease-out, width 0.3s ease-out; }
.input-range--disabled .input-range__track {
    background: #eeeeee; }

.input-range__track--background {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%; }

.input-range__track--active {
    background: #33cc33; }

.input-range {
    height: 1rem;
    position: relative;
    margin-top: 6%;
    margin-bottom: 10%;
    width: 100%;
}
.canvasff {
    border: 1px solid;
    height: 350px;
    width: 25%;
    float: left;
    margin-right: 7%;
    border: #DCDCDC;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 230, 0.5);
}

#myCanvas {
    margin-top: 4%;
    background: rgba(255, 255, 230, 0.8);
    border: #DCDCDC;
    padding: 2%;
}

.dialog_form{
    height: 340px;
    width: 250px;
    border: 1px solid;
    border: #DCDCDC;
    padding: 2%;
    border-radius: 10px;
    margin-right: 7%;
    margin-left: 5%;
    background: rgba(255, 255, 230, 0.5);
    float: left;
}

.ui-button {
    display: inline-block;
    width: 60%;
    height: 15%;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #33cc33;
    border-radius: 6px;
    background: #33cc33;
    transition: 0.2s;
}
.ui-button:hover {
    background: #00b300;
    border-color: #00b300;
}

.ui-button:active {
    background: #33cc33;
}

.button_group {
    background: rgba(255, 255, 230, 0);
    border: #DCDCDC;
    border-radius: 10px;
    width: 100%;
    position: relative;
    border-collapse: collapse;
    margin-bottom: 5%;
    margin-top: 3%;
}


.button_group tr:hover {
    background-color: rgba(255, 255, 230, 0.3);
}

td {
    text-align: center;
}

tr:hover {
    background-color: rgba(255, 255, 230, 0.9);
}

.resultTable {
    flex: 2;
    float: left;
    font-size: 14px;
    border-radius: 10px;
    background: rgba(255, 255, 230, 0.5);
    width: 25%;
    height: 400px;
    border-spacing: 0;
    padding: 5px;
    text-align: center;
    overflow-y: auto;
}

table {
    width: 100%;
}

.resultTable::-webkit-scrollbar {
    width: 8px;
}

.resultTable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.resultTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

th {
    color: black;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 10px;
}

@media (max-width: 1187px) and (min-width:879px ) {
    .header {
        color: darkred;
    }

    .dialog_form{
        height: 350px;
        width: 30%;
        border: 1px solid;
        border: #DCDCDC;
        padding: 2%;
        border-radius: 10px;
        margin-right: 10%;
        margin-left: 5%;
        background: rgba(255, 255, 230, 0.3);
        float: left;
    }

    .canvasff {
        border: 1px solid;
        height: 350px;
        width: 40%;
        float: right;
        margin-right: 5%;
        border: #DCDCDC;
        padding: 20px;
        border-radius: 10px;
        background: rgba(255, 255, 230, 0.3);
    }

    .resultTable {
        flex: 2;
        float: bottom;
        margin-top: 20px;
        font-size: 14px;
        border-radius: 10px;
        background: rgba(255, 255, 230, 0.7);
        width: 90%;
        border-spacing: 0;
        padding: 5px;
        text-align: center;
        overflow-y: auto;
        margin-left: 5%;
    }

    table {
        width: 100%;
    }

}

@media (max-width: 878px) {

    .button {
        width: 20%;
    }
    .header {
        color: darkblue;
        width: 90%;
        font-family: "Verdana" , serif;
        margin-left: 5%;
    }

    .dialog_form{
        height: 450px;
        width: 72%;
        border: 1px solid;
        border: #DCDCDC;
        padding: 2%;
        border-radius: 10px;
        margin-left: 13%;
        background: rgba(255, 255, 230, 0.3);
    }

    .canvasff {
        border: 1px solid;
        margin-top: 10%;
        height: 350px;
        width: 70%;
        margin-left: 13%;
        border: #DCDCDC;
        border-radius: 10px;
        background: rgba(255, 255, 230, 0.3);
    }

    .resultTable {
        flex: 2;
        margin-top: 10%;
        font-size: 14px;
        border-radius: 10px;
        background: rgba(255, 255, 230, 0.7);
        width: 75%;
        border-spacing: 0;
        padding: 5px;
        text-align: center;
        overflow-y: auto;
        margin-left: 13%;
    }

    .ui-button {

        margin-top: 5%;
    }

    table {
        width: 100%;
    }

}

@media (max-width: 460px){

    .header {
        color: deeppink;
        width: 90%;
        font-family: "Verdana" , serif;
        margin-left: 5%;
    }

    #myCanvas {
        background: rgba(255, 255, 230, 0.8);
        border: #DCDCDC;
        padding: 2%;
        width: 80%;
        height: 80%;
    }
}


/*# sourceMappingURL=index.css.map */
